# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

[]

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
print("Number of results where establishment hygiene is equeal to 20: ", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_results = establishments.find(query)
hygiene_df = pd.DataFrame(list(hygiene_results))
hygiene_df.set_index('BusinessName', inplace=True)


# Display the number of rows in the DataFrame
print("The number of rows in our dataframe is: ", len(hygiene_df.index))

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': 'London'},
    'RatingValue' : {'$gte': 4}}

# Use count_documents to display the number of documents in the result
print("Number of results where the establishment rating is 4 or higher: ", establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

In [ ]:
# Convert the result to a Pandas DataFrame
rating_results = establishments.find(query)
rating_df = pd.DataFrame(rating_results)
rating_df.set_index('BusinessName', inplace=True)

# Display the number of rows in the DataFrame
print("Number of rows in our dataframe is : ", len(rating_df.index))

# Display the first 10 rows of the DataFrame
rating_df.head(10)

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = establishments.find({"BusinessName": "Penang Flavours"})[0]['geocode']['latitude']
longitude = establishments.find({"BusinessName": "Penang Flavours"})[0]['geocode']['longitude']

query = {'RatingValue': 5, 
         'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}, 
         'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)} 
         }

sort =  [('scores.Hygiene', 1)]

# Print the results
q3_results = establishments.find(query).sort(sort).limit(5)
for establishment in q3_results:
    pprint(establishment)

In [ ]:
# Convert result to Pandas DataFrame

q3_results = establishments.find(query).sort(sort).limit(5)
q3_df = pd.DataFrame(q3_results)
q3_df.set_index('BusinessName', inplace=True)
q3_df

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0}}
group_query = {'$group': {'_id': "$LocalAuthorityName", 'establishment_count':{'$sum': 1}}}
sort_values = {'$sort': {'establishment_count': -1}}
pipeline = [match_query, group_query, sort_values]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))
print("The number of results in our query is : ", len(results))

# Print the first 10 results
pprint(results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
q4_df = pd.DataFrame(results)


# Display the number of rows in the DataFrame
print("The number of rows in our dataframe is: ", len(q4_df.index))

# Display the first 10 rows of the DataFrame
q4_df.head(10)